body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1c1c;
    color: #d4af37;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    width: 90%;
    max-width: 1200px;
    background-color: #2e2e2e;
}

.image-container, .links-container {
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .image-container, .links-container {
        flex: 1;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.links-container {
    padding: 20px;
    overflow-y: auto;
}

.links-category {
    margin-bottom: 20px;
}

.links-category h2 {
    margin-bottom: 10px;
    color: #f0a500;
}

.links-category ul {
    list-style: none;
    padding: 0;
}

.links-category ul li {
    margin-bottom: 8px;
}

.links-category ul li a {
    color: #d4af37;
    text-decoration: none;
    transition: color 0.3s;
}

.links-category ul li a:hover {
    color: #f0a500;
}

.find-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-container form {
    display: flex;
    width: 100%;
}

.find-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    background-color: #1c1c1c;
    color: #d4af37;
    flex-grow: 1;
}

.find-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #555;
    background-color: #f0a500;
    color: #1c1c1c;
    cursor: pointer;
    transition: background-color 0.3s;
}

.find-container button:hover {
    background-color: #d4af37;
}
